/*
node-sass style.scss style.css
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

button {
  border: none;
  background: none; }

header {
  width: 100%;
  height: 80px;
  color: #1d1d1d;
  background-color: #f5f5f5; }
  header .inner {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .inner h1 {
      font-size: 20px; }

.accordion {
  width: 60%;
  margin: 10vh auto; }
  .accordion .card .card-header {
    padding: 5px 20px; }
    .accordion .card .card-header button {
      font-size: 0.7em; }
  .accordion .card .card_contents {
    display: none;
    transition: 1s; }

.active {
  display: block !important; }

.card > div {
  border: solid 1px #555555;
  border-bottom: none; }

.card:last-child > div {
  border-bottom: solid 1px #555555; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  color: #ffffff;
  background-color: #383838;
  text-align: center; }
